<div style="height: 2.5vh"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 no_padding">
      <%= render 'shared/section_nav_bar' %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="menu_divider">
    <%= image_tag('menu_divider.png') %>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 no_padding">
      <%= render partial: 'menu/food_item', collection: @food_items %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
