<div id="top_nav_wrapper">
  <nav id="top_nav">
    <a href="/"><%= image_tag('logo_small.png', alt: "Henry's") %></a>
    <div class="top_nav_action">
      <a href="/menu" class="<%= 'current_action' if controller_name != 'contact_us' %>">Menu</a>
      <a href="/contact-us" class="<%= 'current_action' if controller_name == 'contact_us' %>">Contact Us</a>
    </div>
  </nav>
</div>
