<div id="home_logo">
  <%= image_tag('logo.png', alt: "Henry's") %>
  <nav id="home_nav">
    <a class="home_menu_item" href="#">Menu</a>
    <a class="home_menu_item" href="#">Contact Us</a>
  </nav>
</div>
