@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Share);
@import url(http://fonts.googleapis.com/css?family=Kalam);

body {
  background-image: image-url('background.png');
  background-size: cover;
}

.no_padding {
  padding: 0 !important;
  margin: 0 !important;
}

.center_div {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

#top_nav_wrapper {
  height: 34pt;
  background-color: rgba(#FFF, 0.6);
  text-align: left;
  vertical-align: middle;
}

#top_nav {
  padding-left: 10pt;
}

#top_nav a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 22pt;
  font-family: Share;
}

#top_nav div a {
  padding-left: 14pt;
  padding-right: 14pt;
  transition: 0.1s ease;
}

#top_nav .current_action {
  border-bottom: 2px solid black;
}

#top_nav div a:hover {
  border-bottom: 4px solid black;
}

#top_nav img {
  height: 28pt;
}

#top_nav .top_nav_action {
  display: inline-block;
  float: right;
}