#home_nav {
  padding: 24px;
  text-align: center;
  background: transparent;
  font-family: Kalam;
}

.home_menu_item {
  transition: 0.3s ease;
  color: black;
  font-size: 30px;
  text-decoration: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 0;
  margin: 0;
  display: inline-block;
  width: 49%;
}

.home_menu_item:hover {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 6px 0;
  text-decoration: none;
  color: black;
}
